body {
    font-family: "Avenir Next";
    background-color: aqua;
  }
  
  .header {
    background-image: url(header.PNG);
    background-size: cover;
    width: auto;
    height: 650px;
  }
  
  .header-logo {
    float: left;
    font-size: 100px;
    padding: 450px 100px 0px 100px;
  }
  
  .header-list li {
    float: left;
    padding: 500px 20px 20px 20px;
    list-style: none;
  }
  
  .main {
    padding: 10px 80px 100px 80px;
  }
  
  .copy-container h1 {
    font-size: 50px;
  }

  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
    list-style: none;
  }
  